body {
    background-color: #ffe9f3;
    font-family: 'Jua', sans-serif;
}

  h1 {
    color: #ff0077;   
    font-family: 'Jua', sans-serif;
}

  p {
    color: #ff39ad;     
    font-family: 'Jua', sans-serif;
}
  

